.lesson-block {
  height: 100%;
  font-size: 1.5rem;
}

.lesson-item {
  display: flex;
  width: 45%;
  padding: 1rem 0;
  border-radius: 0.75rem;
  border: 1px solid var(--color-line-in-white);
  background-color: var(--color-primary);
  color: var(--color-text-in-primary);
  justify-content: space-between;
  font: 1.75rem Alegreya;
}

.lesson-item :first-child {
  flex: 0.5;
  margin-left:20%;
}

.lesson-item span + span {
  flex: 0.5;
}
