.input-block {
  position: relative;
}
.input-block + .input-block {
  margin-top: 1.5rem;
}
.input-block label {
  font-size: 1.5rem;
}
.input-block input {
  width: 100%;
  height: 5.5rem;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.75rem;
  font: 1.75rem Alegreya;
  color: var(--color-primary-dark);
}
